@import '../../../style/mixins.scss';
@import '../../../style/variables.scss';

.search{
  &__content-search{
    padding: 10px 10px;
    border-radius: 15px;
    margin: 15px 0px 30px;
    background-color: #ffffff;
    display: flex;
    &__icon-search{
      color: #000000;
      margin: 0px 10px 0px 0px;
    }
  }
  &__input{
    border: none;
    width: 200px;
    @include FromMin($large) {
        width: 300px;
    }
  }
}
