.pokemon__card-info{
    &__type__text{
        padding: 1px 5px;
        border-radius: 7px;
        &.--colorPlanta{
            background-color: #9bcc50;
        }
        &.--colorVeneno{
            background-color: #b97fc9;
        }
        &.--colorFuego{
            background-color: #fd7d24;
        }
        &.--colorVolador{
            background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
        }
        &.--colorAgua{
            background-color: #4592c4;
        }
        &.--colorBicho{
            background-color: #729f3f;
        }
        &.--colorNormal{
            background-color: #a4acaf;
        }
        &.--colorEléctrico{
            background-color: #eed535;
        }
        &.--colorTierra{
            background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
        }
        &.--colorHada{
            background-color: #fdb9e9;
        }
        &.--colorLucha{
            background-color: #d56723;
        }
        &.--colorPsíquico{
            background-color: #f366b9;
        }
        &.--colorRoca{
            background-color: #a38c21;
        }
        &.--colorAcero{
            background-color: #9eb7b8;
        }
        &.--colorHielo{
            background-color: #51c4e7;
        }
        &.--colorFantasma{
            background-color: #7b62a3;
        }
        &.--colorSiniestro{
            background-color: #707070;
        }

        &.--colorDragón
        
        {
            background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
        }
        &.--color{
            background-color: #a38c21;
        }
        &.--color{
            background-color: #a38c21;
        }


        
    }
    &__ability{
        width: 300px;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0px 0px 5px;
        &__name{
            text-transform: capitalize;
            color: #ffffff;
        }
        &__stat{
            color: #ffffff;
            background-color: rgba(0, 0, 253, 0.596);
            border-radius: 7px;
            transition: width 0.8s ease;
            padding: 0px 5px 0px 0px;
            position: relative;
            & p{
                width: 27px;
                position: absolute;
                right: 5px;
            }
        }
        &__content{
            background-color: #7b7979cf;
            height: 27px;
            border-radius: 7px;
            width: 50%;
            display: flex;
            justify-content: flex-end;
            text-align: end;
            // background-color: white;
        }
    }
}
