@import '../../../style/mixins.scss';
@import '../../../style/variables.scss';

.cardPokemon{
    margin: 15px;
    opacity: 0.5;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 20%;
    @keyframes reveal {
        from {
            opacity: 0;
            scale: 0.8;
        }
        to {
            opacity: 1;
            scale: 1;
        }
    }

    &__card {
        width: 200px;
        height: 300px;
        width: $card-width;
        height: $card-height;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        perspective: 2500px;
    }
    &__wrapper {
        transition: all 0.5s;
        position: absolute;
        width: 100%; 
        height: 100%;
        z-index: -1;
        background-color: #5a5a5a;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        &::before{
            content: "";
            opacity: 0;
            width: 100%;
            height: 80px;
            transition: all 0.5s;
            position: absolute;
            left: 0;
            border-radius: 15px;
            top: 0;
            height: 100%;
            background-image: linear-gradient(
                to top,
                transparent 46%,
                rgba(12, 13, 19, 0.5) 68%,
                rgba(12, 13, 19) 97%
            );
        } 
        &::after{
            content: "";
            opacity: 0;
            width: 100%;
            height: 80px;
            transition: all 0.5s;
            position: absolute;
            left: 0;
            border-radius: 15px;
            bottom: 0;
            opacity: 1;
            background-image: linear-gradient(
                to bottom,
                transparent 46%,
                rgba(12, 13, 19, 0.5) 68%,
                rgba(12, 13, 19) 97%
            );
        }
    
    }
    &__content{
        width: 170px;
        height: 100px;
        position: absolute;
        border-radius: 50%;
        bottom: 50px;
        box-shadow: 1px 15px 30px #000000;
        &.--colorPlanta{
            background-color: #9bcc50;
        }
        &.--colorVeneno{
            background-color: #b97fc9;
        }
        &.--colorFuego{
            background-color: #fd7d24;
        }
        &.--colorVolador{
            background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
        }
        &.--colorAgua{
            background-color: #4592c4;
        }
        &.--colorBicho{
            background-color: #729f3f;
        }
        &.--colorNormal{
            background-color: #a4acaf;
        }
        &.--colorEléctrico{
            background-color: #eed535;
        }
        &.--colorTierra{
            background:linear-gradient(180deg, rgb(247, 223, 63) 0%, rgb(171, 152, 66) 100%) 
            // background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
        }
        &.--colorHada{
            background-color: #fdb9e9;
        }
        &.--colorLucha{
            background-color: #d56723;
        }
        &.--colorPsíquico{
            background-color: #f366b9;
        }
        &.--colorRoca{
            background-color: #a38c21;
        }
        &.--colorAcero{
            background-color: #9eb7b8;
        }
        &.--colorHielo{
            background-color: #51c4e7;
        }
        &.--colorFantasma{
            background-color: #7b62a3;
        }
        &.--colorSiniestro{
            background-color: #707070;
        }
    
        &.--colorDragón{
            background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
        }
        &.--color{
            background-color: #a38c21;
        }
        &.--color{
            background-color: #a38c21;
        }   
    }
    &__image-pokemon{
        width: 50%;
        z-index: 1;
        transition-duration: .2s;
        transition-timing-function: linear;
    }
    &__title {
        width: 100%;
        transition: transform 0.5s;
        color: #fff;
        width: 170px;
        margin-bottom: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
        text-transform: capitalize;
        transition: all 0.5s;
        &.--what-poke{
            font-size: 20px;
        }
        @include FromMax($large) {
            width: 140px;
        }
    }
    &__type-pokemon{
        position: absolute;
        top: 5px;
        right: 5px;
    }
    &__character {
        width: 100%;
        opacity: 0;
        transition: all 0.5s;
        position: absolute;
        z-index: -1;
        margin-bottom: 110px;
        filter: drop-shadow(0 13px 10px #000000);
    }
    &.--view-pokemons{
        & img{
            filter: brightness(100%) saturate(100%) contrast(100%) opacity(100%) grayscale(0%) sepia(0%) hue-rotate(0deg);
            filter: brightness(0%) saturate(0%) invert(0%);
            transition-duration: .2s;
            transition-timing-function: linear;
        }
        & .cardPokemon__content{
            background: rgba(0, 0, 0, 0.767);
        }
        &:hover{
            filter: none;
            & img{
                filter: none;
            }
            & .cardPokemon__content{
                &.--colorPlanta{
                    background-color: #9bcc50;
                }
                &.--colorVeneno{
                    background-color: #b97fc9;
                }
                &.--colorFuego{
                    background-color: #fd7d24;
                }
                &.--colorVolador{
                    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
                }
                &.--colorAgua{
                    background-color: #4592c4;
                }
                &.--colorBicho{
                    background-color: #729f3f;
                }
                &.--colorNormal{
                    background-color: #a4acaf;
                }
                &.--colorEléctrico{
                    background-color: #eed535;
                }
                &.--colorTierra{
                    background:linear-gradient(180deg, rgb(247, 223, 63) 0%, rgb(171, 152, 66) 100%) 
                    // background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
                }
                &.--colorHada{
                    background-color: #fdb9e9;
                }
                &.--colorLucha{
                    background-color: #d56723;
                }
                &.--colorPsíquico{
                    background-color: #f366b9;
                }
                &.--colorRoca{
                    background-color: #a38c21;
                }
                &.--colorAcero{
                    background-color: #9eb7b8;
                }
                &.--colorHielo{
                    background-color: #51c4e7;
                }
                &.--colorFantasma{
                    background-color: #7b62a3;
                }
                &.--colorSiniestro{
                    background-color: #707070;
                }
            
                &.--colorDragón{
                    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
                }
                &.--color{
                    background-color: #a38c21;
                }
                &.--color{
                    background-color: #a38c21;
                }   
            }
        }

    }
    &:hover{
        & .cardPokemon__card .cardPokemon__wrapper{
            transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
            box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
        }
        .cardPokemon__wrapper{
            &::before{
                opacity: 1;
            }
            &::after{
                opacity: 1;
                height: 120px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        & .cardPokemon__image-pokemon{
            transition: all 0.5s;
            display: none;
        }
        & .cardPokemon__content{
            width: 100%;
            bottom: 120px;
        }
        & .cardPokemon__title{
            transform: translate3d(0%, -50px, 100px);
        }
        & .cardPokemon__character{
            transition: all 0.5s;
            opacity: 1;
            transform: translate3d(0%, -30%, 100px);
        }
    }
}
