@import '../../../style/mixins.scss';
@import '../../../style/variables.scss';

.cardInfoPokemon{
    &__card-info{
        background-image: url(../../../assets/pokeball.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: -130px -150px;
        padding: 30px 0px;
        margin-top: 50px;
        width: 100%;
        max-width: 400px;
        background-color: #bd1212;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        @include FromMin($large) {
            margin: 0px;
            max-width: 900px;
            height: 500px;
            flex-direction: row;
            justify-content: space-evenly
        }

        &__section-1{
            background-color: #ffffffe0;
            width: 90%;
            height: 410px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            border-radius: 15px;
            position: relative;
            overflow: hidden;
            @include FromMin($large) {
                max-width: 350px;
            }
            &__image{
                width: 250px;
                height: 250px;
                filter: drop-shadow(0 13px 10px #000000);
                animation: animationOpacity 0.5s linear;

                @include FromMin($large) {
                    width: 350px;
                    height: 350px;
                }
            }
            &__image-load{
                width: 200px;
                height: 200px;
                animation-name: loadPokemon;
                animation-duration: 2s;
                animation-timing-function: linear;
                animation-direction: alternate;
                animation-iteration-count: infinite;


                @keyframes loadPokemon {
                    0% {
                        transform: rotate(-30deg);
                    }
                    100% {
                        transform: rotate(30deg);
                    }
                    // 100% {
                    //     transform: rotate(0deg);
                    // }
                }
                @include FromMin($large) {
                    width: 300px;
                    height: 300px;
                }
            }
        }

        &__title{
            font-size: 25px;
            text-align: center;
            width: 80%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-align: center;
            animation: animationOpacity 0.5s linear;
        }

        &__content-arena{
            position: absolute;
            width: 200%;
            border-radius: 50%;
            background-color: red;
            height: 200px;
            bottom: -100px;
            box-shadow: 1px 15px 30px #000000;
            transition: background-color 1S;
            &.--colorgrass{
                background-color: #9bcc50;
            }
            &.--colorpoison{
                background-color: #b97fc9;
            }
            &.--colorfire{
                background-color: #fd7d24;
            }
            &.--colorVolador{
                background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
            }
            &.--colorwater{
                background-color: #4592c4;
            }
            &.--colorbug{
                background-color: #729f3f;
            }
            &.--colornormal{
                background-color: #a4acaf;
            }
            &.--colorelectric{
                background-color: #eed535;
            }
            &.--colorground{
                background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
            }
            &.--colorfairy{
                background-color: #fdb9e9;
            }
            &.--colorflying{
                background: -webkit-linear-gradient(270deg, #3dc7ef 50%, #bdb9b8 50%);
            }
            &.--colorfighting{
                background-color: #d56723;
            }
            &.--colorpsychic{
                background-color: #f366b9;
            }
            &.--colorrock{
                background-color: #a38c21;
            }
            &.--colorsteel{
                background-color: #9eb7b8;
            }
            &.--colorice{
                background-color: #51c4e7;
            }
            &.--colorghost{
                background-color: #7b62a3;
            }
            &.--colordark{
                background-color: #707070;
            }
            &.--colordragon{
                background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
            }
        }
    }
    @keyframes animationOpacity {
        from {
            opacity: 0.5;
        }
        
        to {
            opacity: 1;
        }
    }
}
