@import '../style/mixins.scss';
@import '../style/variables.scss';

.pageLayout{
    height: calc(100vh - 64px);
    width: 100%;
    color: #ffffff;
    background-color: #2f2f2f;
    overflow: auto;
    margin-top: 64px;
    &::-webkit-scrollbar {
        background-color: transparent;
        transition: background-color 10s linear;
    }
    &::-webkit-scrollbar {
        width: 2px;
        @include FromMin($large) {
            width: 10px;
        }
    }
    &:hover{
        &::-webkit-scrollbar-thumb {
            background-color: #b3b3b352;
            transition: background-color 10s linear;
        }
        &::-webkit-scrollbar-thumb:hover {
            background-color: #cfcece52;
            transition-duration: .2s;
            transition-timing-function: linear;
            transition: background-color 10s linear;
        }
    }
}

.not-found{
    height: calc(100vh - 64px);
    display: flex;
    align-items: center;
    justify-content: center;
    &__content{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        &__image{
            width: 100%;
            max-width: 300px;
        }
    }
    &__link{
        color: #ffffff;
    }
}

.PokemonsPage{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    &__content-cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    &__not-result{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        height: 500px;
        & h1{
            text-align: center;
        }
        & img{
            width: 300px;
            @include FromMin($large) {
                width: 500px;
            }
        }
    }
}

// input:-internal-autofill-selected {
//     appearance: menulist-button;
//     background-image: none !important;
//     background-color: red !important;
//     color: fieldtext !important;
// }
