@import '../style/mixins.scss';
@import '../style/variables.scss';

.PokemonsPage{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    &__content-cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    &__not-result{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        height: 500px;
        & h1{
            text-align: center;
        }
        & img{
            width: 300px;
            @include FromMin($large) {
                width: 500px;
            }
        }
    }

}
input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: red !important;
    color: fieldtext !important;
}
