@import '../../../style/mixins.scss';
@import '../../../style/variables.scss';

.infoPokemon{
    &__content-info{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        @include FromMax(580px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100vh;
        }
        @include FromMax($large) {
            height: 100vh;
        }
    }
    &__button{
        display: none;
        @include FromMin(580px) {
            display: block;
            background-color: transparent;
            color: #ffffff;
            & svg{
                font-size: 50px;
                margin: 0px 5px;
                transition: all 0.3s;
                &:hover{
                    margin: 0px 0px;
                    font-size: 60px;
                }
            }
        }
    }
    &__button-mobile{
        display: block;
        background-color: transparent;
        color: #ffffff;
        & svg{
            font-size: 50px;
            margin: 5px 5px;
            transition: all 0.3s;
            &:hover{
                margin: 0px 0px;
                font-size: 60px;
            }
        }
        @include FromMin(580px) {
            display: none;
        }
    }
    &__content-buttons{
        display: flex;
        margin: 10px 0px;
    }
}
